# Dependency directories
/node_modules/

# build folders
/dist/
/build/
/build_mobile/

# webstorm settings
/.idea/

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Babel cache directory
babel_cache

# webpack profiler output
/webpack.stats.json
/temp/

# .DS_Store files
.DS_Store
